# Local env files
.env
.env*.local

# Dependencies
*node_modules

# TypeScript
*.tsbuildinfo

# Turbo
.turbo

# Build Outputs
out/
build
dist

# Deployment
.vercel
.wrangler

# Misc
.direnv
.cache

# git-hooks.nix
.pre-commit-config.yaml
