# dotenvx
.env.keys

# Dependencies
*node_modules

# TypeScript
*.tsbuildinfo

# Turborepo
.turbo

# Build Outputs
dist

# Deployment
.vercel
.wrangler

# direnv
.direnv

# git-hooks.nix
.pre-commit-config.yaml
